.home {
    padding: 12px 15px 180px;
    .filter-bar {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 4px;
        padding-top: 12px;
        z-index: 10;
        background: var(--bg-main);
        
        .button-adjust {
            display: flex;
            cursor: pointer;
        
            .icon { color: var(--fg-secondary); }
        
            &:hover .icon { color: var(--fg-primary); }
        }
    }
}





