.track {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    cursor: default;

    &-image {
        aspect-ratio: 1 / 1;
        width: 51px;
        border-radius: 10px;
    }
    
    &-content {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &-name {
        display: block;
        color: var(--fg-primary);
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-artist-container {
        display: flex;
        align-items: flex-end;
        gap: 4px;
    }
    
    &-button {
        display: flex;
        color: var(--fg-secondary);
    }
}