.tag {
    padding: 8px 15px;
    box-sizing: border-box;
    background: var(--bg-secondary);
    color: var(--fg-primary);
    border-radius: 8px;
    white-space: nowrap;
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    user-select: none;
    transition: all 0.400s ease-in-out;

    &.active { background: var(--primary); }
}