.menu {
    &-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 30px 20px;
    }

    &-title {
        text-align: center;
        color: var(--fg-primary);
    }

    &-button,
    &-link {
        max-width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        color: var(--fg-secondary);
        height: 40px;
        
        &:hover { color: var(--fg-primary); }

        > .icon { color: var(--primary); }
    }         
}