@use "app/styles/breakpoints" as *;

.item {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 40% 1fr auto;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    &-image {
        aspect-ratio: 1 / 1;
        width: 61px;
        margin-right: 20px;
    }

    &-button {
        color: var(--fg-secondary);
        display: flex;
        margin-right: 10px;
    }

    &-text,
    &-name {
        color: var(--fg-primary);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    &-text {
        color: var(--fg-secondary);
        display: none;

        @media (min-width: $desktop) {
            display: block;
        }
    }
}