.playlist-control-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .control-panel-button {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        color: var(--fg-secondary);
        transition: color .2s ease-in-out;

        &:hover {
            color: var(--fg-primary);
        }

        .icon,
        .icon__active {
            grid-area: 1 / 1;
            transition: transform .2s ease-in-out;
        }

        .icon { transform: scale(1); }
        .icon__active { transform: scale(0); }

        &.active {
            .icon { transform: scale(0); }
            .icon__active { transform: scale(1); }
        }

        &.shuffle {
            color: var(--primary);
        }

        &-container {
            display: flex;
            align-items: center;
            gap: 14px;
        }
    }
}

.menu {
    &-folders {
        z-index: 11;

        &-body {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            overflow-y: auto;
            max-height: 300px;
            scrollbar-width: none;    
        }

        &-button {
            width: 100%;
            display: flex;
            gap: 8px;
            align-items: center;
            color: var(--fg-primary);
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 30px 20px;
    }

    &-button,
    &-link {
        max-width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: left;
        color: var(--fg-secondary);
        
        &:hover { color: var(--fg-primary); }

        > .button-icon { min-width: 40px; }
    }        
}