.playlist {
    position: relative;
    padding: 80px 15px 124px;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, var(--color) 0%, var(--bg-main) 100%);
        top: 0;
        left: 0;
        opacity: 0.47;
    }
    
    &-header {
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 12px 15px 6px;
        z-index: 10;
        backdrop-filter: blur(100px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header {
            &-input {
                width: 84%; // 306 * 100 / 363
            }
            &-button {
                display: flex;
                color: var(--fg-secondary);
            }
        }
    }

    &-image {
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        object-fit: cover;
        max-width: 58%;

        &-container {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
        }
    }

    &-name {
        position: relative;
        color: var(--fg-primary);
        margin-bottom: 20px;
    }

    &-owner {
        margin-left: 4px;
        color: var(--fg-primary);
        font-weight: 500;
        font-size: 14px;
        &:hover { text-decoration: underline; }
    }

    &-description-container {
        position: relative;
        color: var(--fg-secondary);
        margin-bottom: 20px;

        > * { display: inline-block; }
        .dot { margin: 0 10px; }
    }

    &-items-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}