@use "app/styles/breakpoints" as *;

.artist {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 140px;
    min-width: 140px;
    transition: all .1s ease-in-out;
    @media (min-width: $desktop) {
        max-width: 170px;
        min-width: 170px;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--bg-main);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:active {
        transform: scale(0.95);
        
        &::before {
            opacity: 0.5;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &-image {
        aspect-ratio: 1 / 1;
        width: 100%;
        border-radius: 50%;        
    }

    &-name {
        color: var(--fg-primary);
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}