.loader {
    width: 60px;
    height: 60px;
    border: 10px solid var(--primary);
    border-top: 10px solid transparent;
    border-radius: 50%;
    animation: spin .8s linear infinite;

    &-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-modal {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        transition: all 100ms ease-in-out 300ms;
        background: var(--bg-main);

        &.open { 
            visibility: visible;
            opacity: 1;    
            transition: all 100ms ease-in-out;
        }
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}