.desktop-title { 
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: normal;
}

.title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: normal;
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: normal;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: normal;
}

.description {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: normal;
}

.text {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: normal;
}