.app.light {
    --primary: #13BF51;
    --fg-primary: #1A1A1A;
    --fg-secondary: #6E6E6E;
    --fg-tertiary: #323232;
    --bg-main: #F0F0F0;
    --bg-primary: #e5e5e5;
    --bg-secondary: #d6d6d6;
}