.control-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
    &-button-container {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    &-button {
        display: flex;
        color: var(--fg-secondary);
    }
}