.menu {
    &-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 30px 20px;
    }

    &-button,
    &-link {
        max-width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: left;
        color: var(--fg-secondary);
        
        &:hover { color: var(--fg-primary); }

        > .button-icon { min-width: 40px; }
    }        

    &-artists {
        background: var(--bg-main);
        z-index: 11;

        &-content {
            padding: 10px;
            > *:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }    

    &-playlists {
        z-index: 11;

        &-body {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            overflow-y: auto;
            max-height: 300px;
            scrollbar-width: none;    
        }

        &-button {
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            color: var(--fg-primary);
            
            .button-image {
                width: 51px;
                height: 51px;
                border-radius: 3px;
            }
        }
    }
}