@use "app/styles/breakpoints" as *;

.episode-control-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (min-width: $desktop) {
        margin-bottom: 30px;       
    }

    .control-panel-button {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        color: var(--fg-secondary);
        transition: color .2s ease-in-out;

        &:hover {
            color: var(--fg-primary);
        }

        .icon,
        .icon__active {
            grid-area: 1 / 1;
            transition: transform .2s ease-in-out;
        }

        .icon { transform: scale(1); }
        .icon__active { transform: scale(0); }

        &.active {
            .icon { transform: scale(0); }
            .icon__active { transform: scale(1); }
        }
        
        &-container {
            display: flex;
            align-items: center;
            gap: 14px;
        }
    }
}

.menu-playlists {
    z-index: 11;

    &-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        overflow-y: auto;
        max-height: 300px;
        scrollbar-width: none;    
    }

    &-button {
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        color: var(--fg-primary);
        
        .button-image {
            width: 51px;
            height: 51px;
            border-radius: 3px;
        }
    }
}