@use "app/styles/breakpoints" as *;

.library {
    &-groups {
        padding: 115px 15px 0;
        @media (min-width: $desktop) {
            padding: 12px 15px ;
        }
    }

    &-empty {
        margin-top: 64px;
        color: var(--fg-primary);
        text-align: center;
    }
}