.search {
    &-results {
        padding: 12px 15px;
    }

    &-container {
        margin-top: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-item {
        &-content {
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--fg-secondary);
        }

        &-name {
            display: block;
            color: var(--fg-primary);
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-publisher { 
            display: block;
            color: var(--fg-secondary);
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-type::first-letter { text-transform: uppercase; }

        &-button {
            display: grid;
            color: var(--fg-secondary);
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: center;

            > * {
                grid-area: 1 / 1;
                transition: all 0.1s ease-in-out;
                transform-origin: center center;
                &:nth-child(1) { transform: scale(0); }
                &:nth-child(2) { transform: scale(1); }
            }
            &.active {
                > * {
                    grid-area: 1 / 1;
                    transition: all 0.1s ease-in-out;
                    transform-origin: center center;
                    &:nth-child(1) { transform: scale(1); }
                    &:nth-child(2) { transform: scale(0); }
                }
            }
        }

        &-button-text { font-weight: 600; }
    }
}